@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'League Spartan', sans-serif;
  background-color: #f6f6f7;
  margin-top: 56px;
}
.rdrInputRanges {
  display: none;
}
textarea{
  resize: none;
}
.sub-menu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}
.sub-menu.open {
  max-height: 100px;
  transition: max-height 0.5s ease-in;
}
.pin-icon {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.game-card:hover .pin-icon {
  visibility: visible;
  opacity: 0.3;
}
.rdrCalendarWrapper{
  height: 430px;
}
.breakword{
  word-break: break-word;
}
